:root {
  --color-menu-bg: #303030;
  --color-menu-text: #ffffff;
  --color-btn-bg: #e8631c;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* --ff-menu: font-family: 'Montserrat', sans-serif;
  --ff-content: font-family: 'Oswald', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.notice {
  text-align: center;
}
.notice h3 {
  font-size: 12px;
  color: var(--color-menu-text);
  padding: 5px;
  background-color: rgb(255, 0, 0);
  margin: 0;
}
/* header area start */
Header {
  background: var(--color-menu-bg);
}
.nav-area {
}
.nav-area ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav-area ul li {
  padding: 0 10px;
}
.nav-area ul li a {
  color: var(--color-menu-text);
  padding: 5px 20px;
  display: block;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.nav-area ul li a:hover {
  background-color: var(--color-btn-bg);
}
/* header area end */

/* home area start */
.home-area {
  /* height: 693px; */
  padding: 279px 0px 85px;
  background: url(assets/images/siam01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-text {
}
.home-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color: var(--color-menu-text);
  font-weight: 700;
}
.home-text p {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--color-menu-text);
  margin-bottom: 50px;
}
.home-button a {
  background: var(--color-btn-bg);
  color: var(--color-menu-text);
  padding: 10px 20px;
}
/* home area end */
.feature-area {
  padding: 100px 0px 70px;
  background: url(assets/images/6990247_3496226.png), var(--color-btn-bg);
  background-repeat: no-repeat;
}

.feature-text {
  text-align: center;
}
.feature-text h1 {
  color: var(--color-menu-text);
  font-weight: 800;
  margin-bottom: 20px;
}
.feature-text p {
  color: var(--color-menu-text);
  width: 70%;
  margin: 10px auto 50px;
}
.f-card {
  width: 100%;
  background-color: var(--color-menu-bg);
  border-radius: 10px;
  overflow: hidden;
}
.feature-img {
  width: 100%;
  height: auto;
}
.feature-content-text {
  padding: 10px;
}
.feature-content-text h3 {
  color: var(--color-menu-text);
  text-transform: uppercase;
  font-size: 25px;
  padding: 20px 0px 0px;
}

.feature-content-text p {
  color: var(--color-menu-text);
  font-size: 14px;
}

/* product pricing area start */
.product-price {
  padding: 110px 0px 70px;
  background: url(assets/images/6990247_3496226.png), var(--color-menu-bg);
  background-repeat: no-repeat;
}
.pricing-top {
  text-align: center;
}
.pricing-top h1 {
  font-family: "Oswald", sans-serif;
  color: var(--color-menu-text);
  font-size: 45px;
  text-transform: uppercase;
}
.pricing-top p {
  width: 70%;
  color: var(--color-menu-text);
  font-size: 16px;
  margin: 0px auto 35px;
}
.p-card {
  width: 100%;
  background-color: var(--color-btn-bg);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}
.item-logo {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-logo img {
  width: 35%;
}
.price-text {
  text-align: center;
  padding: 10px;
}
.price-text h2 {
  color: var(--color-menu-text);
  font-size: 30px;
  text-transform: uppercase;
}
.price-text p {
  color: var(--color-menu-text);
}
.price-btn {
  display: flex;
  justify-content: center;
}
.price-btn a {
  color: var(--color-menu-text);
  background: var(--color-menu-bg);
  padding: 10px;
  width: 200px;
  display: block;
  text-align: center;
}

/* product pricing area end */
